.form-control {
  @apply
    border
    dark:border-gray-800
    dark:bg-gray-800
    px-5
    h-10
    rounded-full
    placeholder:text-sm
    leading-none
    focus:outline-none
    text-base;

    &.search {
      @apply
        w-64
        md:w-80
        lg:w-96;
    }
}